.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 500px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 400px;
    text-align: center;
  }

h2 {
  text-align: center;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
}

.input-group input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn-entrar-login {
  width: calc(100% - 22px);
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ff681f;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}