@font-face {
    font-family: "DM_sans";
    src: url('../assets/fonts/DMSans-Regular.ttf') format('woff2');
}

body {
    margin: 0;
    padding: 0;
    font-family: "Dm_Sans";
    font-weight: 600;
}

.mainHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 90px;
    background-color: #ff681f;
}

#iconHeader {
    margin-right: 20px;
    height: 60px;
    cursor: pointer;
}

.buttonHeader {
    display: flex;
    gap: 10px;
}

.buttonHeader > button {
    display: flex;
    align-items: center;
    font-family: "Dm_Sans";
    font-weight: 600;
    font-size: 15px;
    border: none;
    background: none;
    cursor: pointer;
}

.formHeader {
    display: flex;
    width: 780px;
    height: 50px;
}

.searchInput {
    flex-grow: 1;
    padding: 10px 20px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50px;
    border: none;
    border-radius: 0 5px 5px 0;
    color: white;
    background-color: black;
}

.loginHeader {
    display: flex;
    align-items: center;
    font-family: "Dm_Sans";
    font-weight: 600;
    font-size: 15px;
    gap: 5px;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: 10px;
}

.rightBtnHeader {
    display: flex;
    gap: 10px;
}

.shopCartHeader {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.sndHeader {
    display: flex;
    padding: 0 30px;
    gap: 20px;
    height: 70px;
    border-bottom: 1px solid lightgrey;
}

.categoryNav {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 30px;
    border-right: 1px solid lightgrey;
}

.sndNav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.sndNav > div {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

.infos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    border-top: 1px solid lightgrey;
}

.contentInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 30px;
    font-size: 18px;
    gap: 20px;
}

.contentInfo span {
    font-weight: 100;
    font-size: 40px;
}

.contentInfo p {
    font-size: 15px;
    margin: 0;
    font-weight: 500;
}

.categoriesFooter {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    border-top: 1px solid lightgrey;
}

.columnFooter {
    display: flex;
    flex-direction: column;
    padding: 70px 20px;
    font-size: 20px;
}

.columnFooter div {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 7px 0;
    font-weight: 500;
    font-size: 15px;
}

.newsletterFooter {
    display: flex;
    flex-direction: column;
    padding: 70px 20px;
    font-size: 20px;
}

.newsletterFooter div {
    align-items: center;
    margin: 7px 0;
    font-weight: 500;
    font-size: 15px;
}

.formFooter {
    display: flex;
    margin-top: 30px;
    height: 50px;
}

.inputFooter {
    flex-grow: 1;
    width: 100px;
    padding: 10px 20px;
    border: 1px solid lightgrey;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.inputButtonFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    border-radius: 0 5px 5px 0;
    color: black;
    background-color: #ff681f;
    padding: 10px;
}

.followUsFooter {
    margin-top: 15px;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.followUsFooter div {
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
}

.followUsFooter i {
    cursor: pointer;
}

.footnote{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-top: 1px solid lightgrey;
}

.copyright {
    font-size: 15px;
    font-weight: 500;
}

.currency {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
}

#coinInput {
    font-family: "DM_sans";
    font-weight: 500;
    padding: 10px 20px;
    border: 1px solid lightgrey;
    border-radius: 5px 0 0 5px;
    outline: none;
}